alabaster==0.7.10
appdirs==1.4.3
Babel==2.4.0
codegen==1.0
colorama==0.3.9
dateparser==0.6.0
decorator==4.0.11
Django==1.11
django-datatable==0.2.1
djangopisa==0.1
docutils==0.13.1
html5lib==0.999999999
imagesize==0.7.1
Jinja2==2.9.6
lxml==3.6.0
MarkupSafe==1.0
olefile==0.44
packaging==16.8
patterns==0.3
Pillow==4.1.0
pisa==3.0.33
psycopg2==2.6.2
public==0.0.0
Pygments==2.2.0
pyparsing==2.2.0
PyPDF2==1.26.0
python-dateutil==2.6.0
pytils==0.3
pytz==2017.2
regex==2017.4.29
reportlab==3.4.0
requests==2.14.2
ruamel.yaml==0.14.12
self==0.0.0
setupfiles==0.0.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.1
sphinxcontrib-websupport==1.0.1
typing==3.6.1
tzlocal==1.4
webencodings==0.5.1
xhtml2pdf==0.0.6
xlwt==1.2.0
