block footer
// Begin: Page Footer
footer#content-footer.affix
  .row
    .col-md-6
      span.footer-legal &copy; 2016. All Rights Reserved. Ruby Admin
    .col-md-6.text-right
      span.footer-meta
        | 60GB of 350GB Free
      a.footer-return-top(href='#content')
        span.fa.fa-angle-up