extends  _skeleton

block stylesheets
  link(rel='stylesheet', type='text/css', href='assets/admin-tools/admin-forms/css/admin-forms.css')

block body
  body.charts-highcharts-page(data-spy='scroll', data-target='#nav-spy', data-offset='100')
    // Start: Theme Preview Pane
    #skin-toolbox
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-gear.text-primary
          span.panel-title  Theme Options
        .panel-body.pn
          ul.nav.nav-list.nav-list-sm.pl15.pt10(role='tablist')

            li.active
              a(href='#toolbox-sidebar', role='tab', data-toggle='tab') Sidebar
            li
              a(href='#toolbox-settings', role='tab', data-toggle='tab') Misc
          .tab-content.p20.ptn.pb15

            #toolbox-sidebar.tab-pane.active(role='tabpanel')
              form#toolbox-sidebar-skin
                h4.mv20 Sidebar Skins
                .skin-toolbox-swatches
                  .checkbox-custom.fill.mb5
                    input#sidebarSkin3(type='radio', name='sidebarSkin', checked='', value='')
                    label(for='sidebarSkin3') Dark
                  .checkbox-custom.fill.checkbox-disabled.mb5
                    input#sidebarSkin1(type='radio', name='sidebarSkin', value='sidebar-light')
                    label(for='sidebarSkin1') Light
                  .checkbox-custom.fill.checkbox-light.mb5
                    input#sidebarSkin2(type='radio', name='sidebarSkin', value='sidebar-light light')
                    label(for='sidebarSkin2') Lighter
            #toolbox-settings.tab-pane(role='tabpanel')
              form#toolbox-settings-misc
                h4.mv20.mtn Layout Options

                .form-group
                  .checkbox-custom.fill.mb5
                    input#sidebar-option(type='checkbox', checked='')
                    label(for='sidebar-option') Fixed Sidebar

                h4.mv20 Layout Options
                .form-group
                  .radio-custom.mb5
                    input#fullwidth-option(type='radio', checked='', name='layout-option')
                    label(for='fullwidth-option') Fullwidth Layout
                .form-group.mb20.pointer-events-none
                  .radio-custom.radio-disabled.mb5
                    input#boxed-option(type='radio', name='layout-option', disabled='')
                    label(for='boxed-option')
                      | Boxed Layout
                      b.text-muted (Coming Soon)
          .form-group.mn.br-t.p10
            a#clearLocalStorage.btn.btn-primary.btn-block.pb10.pt10(href='#') Clear LocalStorage
    // Start: Main
    #main
      // Start: Sidebar
      aside#sidebar_left.nano.nano-light.affix
        // Navbar Branding
        .navbar-branding
          a.navbar-brand(href='dashboard.html')
            span.text-white Ruby
            = ' '
            | Admin
          span#toggle_sidemenu_l.ad.ad-lines
        // Start: Sidebar Left Content
        .sidebar-left-content.nano-content
          // Start: Sidebar Header
          header.sidebar-header
            // Sidebar Widget - Author
            .sidebar-widget.author-widget
              .media
                a.media-left(href='#')
                  img.img-responsive(src='assets/img/avatars/3.jpg')
                .media-body
                  .media-links
                  .media-author Ryan Harrison
                  a.sidebar-menu-toggle(href='#') User Menu
                  a(href='pages_login(alt).html') Logout
            // Sidebar Widget - Menu (slidedown)
            .sidebar-widget.menu-widget
              .row.text-center.mbn
                .col-xs-4
                  a.text-primary(href='dashboard.html', data-toggle='tooltip', data-placement='top', title='Dashboard')
                    span.glyphicon.glyphicon-home
                .col-xs-4
                  a.text-info(href='pages_messages.html', data-toggle='tooltip', data-placement='top', title='Messages')
                    span.glyphicon.glyphicon-inbox
                .col-xs-4
                  a.text-alert(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Tasks')
                    span.fa.fa-asterisk
              .row.text-center.mbn
                .col-xs-4
                  a.text-system(href='pages_timeline.html', data-toggle='tooltip', data-placement='top', title='Activity')
                    span.fa.fa-desktop
                .col-xs-4
                  a.text-danger(href='pages_profile.html', data-toggle='tooltip', data-placement='top', title='Settings')
                    span.fa.fa-gears
                .col-xs-4
                  a.text-warning(href='pages_gallery.html', data-toggle='tooltip', data-placement='top', title='Cron Jobs')
                    span.fa.fa-flask
            // Sidebar Widget - Search (hidden)
            .sidebar-widget.search-widget.hidden
              .input-group
                span.input-group-addon
                  i.fa.fa-search
                input#sidebar-search.form-control(type='text', placeholder='Search...')
          // Start: Sidebar Menu
          ul.nav.sidebar-menu
            li.sidebar-label.pt30 Menu
            li
              a(href='pages_profile.html')
                span.fa.fa-calendar
                span.sidebar-title
                  | User Calendar
                span.sidebar-title-tray
                  span.label.label-xs.bg-primary New
            li
              a(href='documentation/')
                span.glyphicon.glyphicon-book
                span.sidebar-title Documentation
            li.active
              a(href='dashboard.html')
                span.glyphicon.glyphicon-home
                span.sidebar-title Dashboard
            li.sidebar-label.pt15 Exclusive Tools
            li
              a.accordion-toggle(href='#')
                span.fa.fa-columns
                span.sidebar-title Admin Layouts
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa.fa-arrows-h
                    |                   Sidebars
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_sidebar-left-static.html')
                        | Left Static
                    li
                      a(href='layout_sidebar-left-fixed.html')
                        | Left Fixed
                    li
                      a(href='layout_sidebar-left-widgets.html')
                        | Left Widgets
                    li
                      a(href='layout_sidebar-left-minified.html')
                        | Left Minified
                    li
                      a(href='layout_sidebar-left-light.html')
                        | Left White
                    li
                      a(href='layout_sidebar-right-static.html')
                        | Right Static
                    li
                      a(href='layout_sidebar-right-fixed.html')
                        | Right Fixed
                    li
                      a(href='layout_sidebar-right-menu.html')
                        | Right w/Menu

                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-hand-o-up
                    |                   Topbar
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_topbar.html')
                        | Default Style
                    li
                      a(href='layout_topbar-menu.html')
                        | Default w/Menu
                    li
                      a(href='layout_topbar-alt.html')
                        | Alternate Style
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrows-v
                    |                   Content Body
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_content-blank.html')
                        | Blank Starter
                    li
                      a(href='layout_content-fixed.html')
                        | Fixed Window
                    li
                      a(href='layout_content-heading.html')
                        | Content Heading
                    li
                      a(href='layout_content-tabs.html')
                        | Content Tabs
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-pause
                    |                   Content Trays
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_tray-left.html')
                        | Tray Left Static
                    li
                      a(href='layout_tray-left-fixed.html')
                        | Tray Left Fixed
                    li
                      a(href='layout_tray-right.html')
                        | Tray Right Static
                    li
                      a(href='layout_tray-right-fixed.html')
                        | Tray Right Fixed
                    li
                      a(href='layout_tray-both.html')
                        | Left + Right Static
                    li
                      a(href='layout_tray-both-fixed.html')
                        | Left + Right Fixed
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-plus-square-o
                    |                   Boxed Layout
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_boxed.html')
                        | Default
                    li
                      a(href='layout_boxed-horizontal.html')
                        | Horizontal Menu
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-arrow-circle-o-up
                    |                   Horizontal Menu
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='layout_horizontal-sm.html')
                        | Small Size
                    li
                      a(href='layout_horizontal-md.html')
                        | Medium Size
                    li
                      a(href='layout_horizontal-lg.html')
                        | Large Size
                    li
                      a(href='layout_horizontal-light.html')
                        | Light Skin
                    li
                      a(href='layout_horizontal-topbar.html')
                        | With Topbar
                    li
                      a(href='layout_horizontal-topbar-alt.html')
                        | With Alt Topbar
                    li
                      a(href='layout_horizontal-collapsed.html')
                        | Collapsed onLoad
                    li
                      a(href='layout_horizontal-boxed.html')
                        | In Boxed Layout
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-fire
                span.sidebar-title Admin Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_plugins-panels.html')
                    span.glyphicon.glyphicon-book
                    |  Admin Panels
                li
                  a(href='admin_plugins-modals.html')
                    span.glyphicon.glyphicon-modal-window
                    |  Admin Modals
                li
                  a(href='admin_plugins-dock.html')
                    span.glyphicon.glyphicon-equalizer
                    |  Admin Dock
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-check
                span.sidebar-title Admin Forms
                span.caret
              ul.nav.sub-nav
                li
                  a(href='admin_forms-elements.html')
                    span.glyphicon.glyphicon-edit
                    |  Admin Elements
                li
                  a(href='admin_forms-widgets.html')
                    span.glyphicon.glyphicon-calendar
                    |  Admin Widgets
                li
                  a(href='admin_forms-validation.html')
                    span.glyphicon.glyphicon-check
                    |  Admin Validation
                li
                  a(href='admin_forms-layouts.html')
                    span.fa.fa-desktop
                    |  Admin Layouts
                li
                  a(href='admin_forms-wizard.html')
                    span.fa.fa-clipboard
                    |  Admin Wizard
            li.sidebar-label.pt20 Systems
            li
              a.accordion-toggle(href='#')
                span.fa.fa-diamond
                span.sidebar-title Widget Packages
                span.caret
              ul.nav.sub-nav
                li
                  a(href='widgets_tile.html')
                    span.fa.fa-cube
                    |  Tile Widgets
                li
                  a(href='widgets_panel.html')
                    span.fa.fa-desktop
                    |  Panel Widgets
                li
                  a(href='widgets_scroller.html')
                    span.fa.fa-columns
                    |  Scroller Widgets
                li
                  a(href='widgets_data.html')
                    span.fa.fa-dot-circle-o
                    |  Admin Widgets
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-shopping-cart
                span.sidebar-title Ecommerce
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ecommerce_dashboard.html')
                    span.glyphicon.glyphicon-shopping-cart
                    |  Dashboard
                    span.label.label-xs.bg-primary New
                li
                  a(href='ecommerce_products.html')
                    span.glyphicon.glyphicon-tags
                    |  Products
                li
                  a(href='ecommerce_orders.html')
                    span.fa.fa-money
                    |  Orders
                li
                  a(href='ecommerce_customers.html')
                    span.fa.fa-users
                    |  Customers
                li
                  a(href='ecommerce_settings.html')
                    span.fa.fa-gears
                    |  Store Settings

            // sidebar resources
            li.sidebar-label.pt20 Elements
            li
              a.accordion-toggle(href='#')
                span.fa.fa-asterisk
                span.sidebar-title UI Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='ui_alerts.html')
                    span.fa.fa-warning
                    |  Alerts
                li
                  a(href='ui_animations.html')
                    span.fa.fa-spinner
                    |  Animations
                li
                  a(href='ui_buttons.html')
                    span.fa.fa-plus-square-o
                    |  Buttons
                li
                  a(href='ui_typography.html')
                    span.fa.fa-text-width
                    |  Typography
                li
                  a(href='ui_portlets.html')
                    span.fa.fa-archive
                    |  Portlets
                li
                  a(href='ui_progress-bars.html')
                    span.fa.fa-bars
                    |  Progress Bars
                li
                  a(href='ui_tabs.html')
                    span.fa.fa-toggle-off
                    |  Tabs
                li
                  a(href='ui_icons.html')
                    span.fa.fa-hand-o-right
                    |  Icons
                li
                  a(href='ui_grid.html')
                    span.fa.fa-th-large
                    |  Grid
            li
              a.accordion-toggle(href='#')
                span.fa.fa-align-justify
                span.sidebar-title Form Elements
                span.caret
              ul.nav.sub-nav
                li
                  a(href='form_inputs.html')
                    span.fa.fa-magic
                    |  Basic Inputs
                li
                  a(href='form_plugins.html')
                    span.fa.fa-bell-o
                    |  Plugin Inputs
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_editors.html')
                    span.fa.fa-clipboard
                    |  Editors
                li
                  a(href='form_treeview.html')
                    span.fa.fa-tree
                    |  Treeview
                li
                  a(href='form_nestable.html')
                    span.fa.fa-tasks
                    |  Nestable
                li
                  a(href='form_image-tools.html')
                    span.fa.fa-cloud-upload
                    |  Image Tools
                    span.label.label-xs.bg-primary New
                li
                  a(href='form_uploaders.html')
                    span.fa.fa-cloud-upload
                    |  Uploaders
                li
                  a(href='form_notifications.html')
                    span.fa.fa-bell-o
                    |  Notifications
                li
                  a(href='form_content-sliders.html')
                    span.fa.fa-exchange
                    |  Content Sliders
            li
              a.accordion-toggle.menu-open(href='#')
                span.glyphicon.glyphicon-tower
                span.sidebar-title Plugins
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.glyphicon.glyphicon-globe
                    |  Maps
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='maps_basic.html') Basic Maps
                    li
                      a(href='maps_vector.html') Vector Maps
                    li
                      a(href='maps_full.html') Full Map
                li
                  a.accordion-toggle.menu-open(href='#')
                    span.fa.fa-area-chart
                    |  Charts
                    span.caret
                  ul.nav.sub-nav
                    li.active
                      a(href='charts_highcharts.html') Highcharts
                    li
                      a(href='charts_d3.html') D3 Charts
                    li
                      a(href='charts_flot.html') Flot Charts
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-table
                    |  Tables
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='tables_basic.html')  Basic Tables


                    li
                      a(href='tables_footable.html')  FooTables
                    li
                      a(href='tables_pricing.html')  Pricing Tables
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-flask
                    |  Misc
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='misc_tour.html')  Site Tour
                    li
                      a(href='misc_timeout.html')  Session Timeout
                    li
                      a(href='misc_nprogress.html')  Page Progress Loader
            li
              a.accordion-toggle(href='#')
                span.glyphicon.glyphicon-duplicate
                span.sidebar-title Pages
                span.caret
              ul.nav.sub-nav
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-gears
                    |  Utility
                    span.caret
                  ul.nav.sub-nav

                    li
                      a(href='pages_confirmation.html', target='_blank')
                        | Confirmation
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_login.html', target='_blank')  Login
                    li
                      a(href='pages_login(alt).html', target='_blank')
                        | Login Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_register.html', target='_blank')  Register
                    li
                      a(href='pages_register(alt).html', target='_blank')
                        | Register Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_screenlock.html', target='_blank')  Screenlock
                    li
                      a(href='pages_screenlock(alt).html', target='_blank')
                        | Screenlock Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_forgotpw.html', target='_blank')  Forgot Password
                    li
                      a(href='pages_forgotpw(alt).html', target='_blank')
                        | Forgot Password Alt
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_coming-soon.html', target='_blank')
                        | Coming Soon
                    li
                      a(href='pages_404.html')  404 Error
                    li
                      a(href='pages_500.html')  500 Error
                    li
                      a(href='pages_404(alt).html')  404 Error Alt
                    li
                      a(href='pages_500(alt).html')  500 Error Alt
                li
                  a.accordion-toggle(href='#')
                    span.fa.fa-desktop
                    |  Basic
                    span.caret
                  ul.nav.sub-nav
                    li
                      a(href='pages_search-results.html')
                        | Search Results
                        span.label.label-xs.bg-primary New
                    li
                      a(href='pages_profile.html')  Profile
                    li
                      a(href='pages_timeline.html')  Timeline Split
                    li
                      a(href='pages_timeline-single.html')  Timeline Single
                    li
                      a(href='pages_faq.html')  FAQ Page
                    li
                      a(href='pages_calendar.html')  Calendar
                    li
                      a(href='pages_messages.html')  Messages
                    li
                      a(href='pages_messages(alt).html')  Messages Alt
                    li
                      a(href='pages_gallery.html')  Gallery
                    li
                      a(href='pages_invoice.html')  Printable Invoice
            // sidebar bullets
            li.sidebar-label.pt20 Projects
            li.sidebar-proj
              a(href='#projectOne')
                span.fa.fa-dot-circle-o.text-primary
                span.sidebar-title Website Redesign
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-dot-circle-o.text-info
                span.sidebar-title Ecommerce Panel
            li.sidebar-proj
              a(href='#projectTwo')
                span.fa.fa-dot-circle-o.text-danger
                span.sidebar-title Adobe Mockup
            li.sidebar-proj
              a(href='#projectThree')
                span.fa.fa-dot-circle-o.text-warning
                span.sidebar-title SSD Upgrades
      // Start: Content-Wrapper
      section#content_wrapper
        // Start: Topbar
        header#topbar.badges-mod.alt
          .topbar-left
            ol.breadcrumb
              li
                a(href="dashboard.html") Dashboard
              li
                a(href="admin_forms-elements.html") Form Elements
              li
                a(href="maps_basic.html") Plugins Pages
              li
                a(href="ui_alerts.html") UI Elements
              li
                a(href="documentation/") Documentation
          .topbar-right
            a.topbar-icon(href='#')
              span.fa.fa-search
            a.topbar-icon.topbar-menu-toggle.ml40(href='#', data-toggle='button')
              span.badge.badge-strikemaster.offset-badge 6
              span.fa.fa-magic
            .topbar-icon-wrap.ml40
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-primary 5
                span.fa.fa-bell.va-m
              .dropdown-menu.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-icon
                      i.fa.fa-clock-o
                    span.panel-title.fw600  Recent Activity
                    button.btn.btn-xs.pull-right(type='button')
                      i.fa.fa-refresh
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    ol.timeline-list
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added to his store:
                          a(href='#') Ipod
                        .timeline-date 1:25am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-success
                          span.fa.fa-usd
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Apple
                        .timeline-date 7:45am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Michael
                          |  Added his store:
                          a(href='#') Ipod
                        .timeline-date 8:25am
                      li.timeline-item
                        .timeline-icon.bg-system
                          span.fa.fa-fire
                        .timeline-desc
                          b Admin
                          |  created invoice for:
                          a(href='#') Software
                        .timeline-date 4:15am
                      li.timeline-item
                        .timeline-icon.bg-alert
                          span.fa.fa-tags
                        .timeline-desc
                          b Sara
                          |  Added to his store:
                          a(href='#') Notebook
                        .timeline-date 3:05am
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
            .topbar-icon-wrap.ml35
              button.topbar-icon.dropdown-toggle(data-toggle='dropdown')
                span.badge.badge-mandy 5
                span.fa.fa-comments.va-m
              .dropdown-menu.dropdown-menu-offset.dropdown-persist.w350.animated.animated-shorter.fadeIn(role='menu')
                .panel.mbn
                  .panel-menu
                    span.panel-title.fw600 Messages
                  .panel-body.panel-scroller.scroller-navbar.scroller-overlay.scroller-pn.pn
                    .br-n.p10
                      .chat-widget
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/3.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                        .media
                          .media-left
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/2.jpg')
                          .media-body
                            span.media-status.online
                            h5.media-heading
                              | Courtney Faught
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
                        .media
                          .media-body
                            span.media-status.offline
                            h5.media-heading
                              | Joe Gibbons
                              small  - 12:30am
                            |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                          .media-right
                            a(href='#')
                              img.media-object(alt='64x64', src='assets/img/avatars/1.jpg')
                  .panel-footer.text-center.p7
                    a.link-unstyled(href='#')  View All
        // Start: Topbar-Dropdown
        #topbar-dropmenu.alt
          .topbar-menu.row
            .col-xs-4.col-sm-2
              a.metro-tile.bg-primary.light(href='#')
                span.glyphicon.glyphicon-inbox.text-white
                span.metro-title Messages
            .col-xs-4.col-sm-2
              a.metro-tile.bg-info.light(href='#')
                span.glyphicon.glyphicon-user.text-white
                span.metro-title Users
            .col-xs-4.col-sm-2
              a.metro-tile.bg-success.light(href='#')
                span.glyphicon.glyphicon-headphones.text-white
                span.metro-title Support
            .col-xs-4.col-sm-2
              a.metro-tile.bg-system.light(href='#')
                span.glyphicon.glyphicon-facetime-video.text-white
                span.metro-title Videos
            .col-xs-4.col-sm-2
              a.metro-tile.bg-warning.light(href='#')
                span.fa.fa-gears.text-white
                span.metro-title Settings
            .col-xs-4.col-sm-2
              a.metro-tile.bg-alert.light(href='#')
                span.glyphicon.glyphicon-picture.text-white
                span.metro-title Pictures
        // Begin: Content
        section#content.table-layout.animated.fadeIn
          // begin: .tray-left
          aside.tray.tray-left.tray320(data-tray-height='match')
            #nav-spy
              ul.nav.tray-nav(data-smoothscroll='-70', data-spy='affix', data-offset-top='200')
                li.active
                  a(href='#pchart1')
                    span.fa.fa-bar-chart.fa-lg
                    |  Basic Column Chart
                li
                  a(href='#pchart2')
                    span.fa.fa-bar-chart.fa-lg
                    |  Synced Spline Chart
                li
                  a(href='#pchart3')
                    span.fa.fa-line-chart.fa-lg
                    |  Column Chart with Filter
                li
                  a(href='#pchart4')
                    span.fa.fa-line-chart.fa-lg
                    | Sparklines Table
                li
                  a(href='#pchart5')
                    span.fa.fa-area-chart.fa-lg
                    |  Pie Chart
                li
                  a(href='#pchart5')
                    span.fa.fa-area-chart.fa-lg
                    |  Circular Chart
                li
                  a(href='#pchart7')
                    span.fa.fa-bar-chart.fa-lg
                    |  Spline Chart with Filter
                li
                  a(href='#pchart8')
                    span.fa.fa-bar-chart.fa-lg
                    |  Column Chart with Filter
                li
                  a(href='#pchart9')
                    span.fa.fa-line-chart.fa-lg
                    |  Bar Chart with Filter
                li
                  a(href='#pchart10')
                    span.fa.fa-line-chart.fa-lg
                    |  Area Chart with Filter
          // begin: .tray-center
          .tray.tray-center
            // Basic Column Chart
            #pchart1.panel
              .panel-heading
                span.panel-icon
                  i.fa.fa-pencil
                span.panel-title  Basic Column Chart
              .panel-body.bg-light.dark
                #high-column2(style='width: 100%; height: 430px; margin: 0 auto')
            // Synced Line Chart
            #pchart2.panel
              .panel-heading
                span.panel-title.text-info.fw600 Line Chart with Submenu
              .panel-body.pn.bg-light.dark
                #high-datamap(style='width: 100%; height: 300px; margin: 0 auto')
              .panel-footer.bg-light.pn
                #high-siblingmap(style='width: 100%; height: 140px; margin: 0 auto')
            // Filterable Column Chart
            #pchart3.panel
              .panel-heading
                span.panel-title.text-info.fw600
                  i.fa.fa-pencil.hidden
                  |  Filterable Column Chart
              .panel-menu.hidden
                .chart-legend(data-chart-id='#high-line')
                  button.legend-item.btn.btn-sm.btn-primary.mr10(type='button', data-chart-id='0') Data 1
                  button.legend-item.btn.btn-info.btn-sm(type='button', data-chart-id='1') Data 2
              .panel-body.pn
                #high-line(style='width: 100%; height: 275px; margin: 0 auto')
                .p15.pt5.mt15.bg-light.br-t
                  .table-responsive
                    table.table.mbn.admin-form.fs13.table-legend(data-chart-id='#high-line')
                      thead
                        tr
                          th.w30 ID
                          th.w50 Chart
                          th Page Source
                          th.text-right Page Hits
                      tbody
                        tr
                          td.fs15.fw600 1.
                          td
                            label.switch.switch-custom.block.mbn
                              input#s1.legend-switch(type='checkbox', name='features', value='0')
                              label(for='s1', data-on='ON', data-off='OFF')
                              span
                          td.va-m.fw600.text-muted
                            span.news-sprite.yahoo.mr15
                            | www.yahoo.com/race-car-rally
                          td.fs15.fw600.text-right 18,625
                        tr
                          td.fs15.fw600 2.
                          td
                            label.switch.switch-custom.block.mbn
                              input#s2.legend-switch(type='checkbox', name='features', value='1')
                              label(for='s2', data-on='ON', data-off='OFF')
                              span
                          td.va-m.fw600.text-muted
                            span.news-sprite.yahoo.mr15
                            | www.yahoo.com/sports/soccer/brazil-fans-outcheer
                          td.fs15.fw600.text-right 11,812
                        tr
                          td.fs15.fw600 2.
                          td
                            label.switch.switch-custom.block.mbn
                              input#s3.legend-switch(type='checkbox', name='features', value='2')
                              label(for='s3', data-on='ON', data-off='OFF')
                              span
                          td.va-m.fw600.text-muted
                            span.news-sprite.fb.mr15
                            | www.facebook.com/news/actor-bill_thornberry-passes-at-42
                          td.fs15.fw600.text-right 6,149
                        tr
                          td.fs15.fw600 2.
                          td
                            label.switch.switch-custom.block.mbn
                              input#s4.legend-switch(type='checkbox', name='features', value='3')
                              label(for='s4', data-on='ON', data-off='OFF')
                              span
                          td.va-m.fw600.text-muted
                            span.news-sprite.cnn.mr15
                            | www.cnn.com/money/stock-market-races-to-glorious-open
                          td.fs15.fw600.text-right 2,525
            // Sparklines Table
            #pchart4.panel
              .panel-heading
                span.panel-title.text-info.fw600
                  i.fa.fa-pencil.hidden
                  |  Sparklines Chart
              .panel-body.of-a.pn
                .table-responsive
                  table.table.mbn.table-bordered
                    thead
                      tr.bg-light
                        th(style='width: 20%') Name
                        th(style='width: 20%') Count
                        th(style='width: 20%') Memory
                        th(style='width: 20%') CPU
                        th(style='width: 20%') Disk I/O
                    tbody
                      tr
                        td.p15.mnw150
                          h4.mb15.text-muted Apache
                          .progress.progress-bar-sm.mb5
                            .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                              span.sr-only 60%
                          p
                            b.text-info 95%
                            span.pull-right.text-muted 1,200 GB left
                        td.p15
                          h4.mb25.text-muted 12
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='info', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                        td.p15
                          h4.mb25.text-muted 200 MB
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='info', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                        td.p15
                          h4.mb25.text-muted 30%
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='info', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                        td.p15
                          h4.mb25.text-muted 89 KB/s
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='info', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                      tr
                        td.p15
                          h4.mb15.text-muted Postfix
                          .progress.progress-bar-sm.mb5
                            .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%;')
                              span.sr-only 45%
                          p
                            b.text-primary 45%
                            span.pull-right.text-muted 2,500 GB left
                        td.p15
                          h4.mb25.text-muted 42
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='primary', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                        td.p15
                          h4.mb25.text-muted 300 MB
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='primary', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                        td.p15
                          h4.mb25.text-muted 30%
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='primary', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                        td.p15
                          h4.mb25.text-muted 127 KB/s
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='primary', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                      tr
                        td.p15
                          h4.mb15.text-muted MySQL
                          .progress.progress-bar-sm.mb5
                            .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                              span.sr-only 80%
                          p
                            b.text-warning 80%
                            span.pull-right.text-muted 900 GB left
                        td.p15
                          h4.mb25.text-muted 26
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='warning', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                        td.p15
                          h4.mb25.text-muted 150 MB
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='warning', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                        td.p15
                          h4.mb25.text-muted 30%
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='warning', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
                        td.p15
                          h4.mb25.text-muted 39 KB/s
                          span.inlinesparkline(sparkwidth='100%', data-spark-color='warning', values='5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7')
            // Pie and Circle Stats
            #pchart5.row
              .col-md-6
                // Pie Chart
                .panel
                  .panel-heading
                    span.panel-title.fw600.text-info Pie Chart
                  .panel-body.pn
                    #high-pie(style='width: 100%; height: 210px; margin: 0 auto')
              .col-md-6
                // Circle Stats
                .panel
                  .panel-heading
                    span.panel-title.fw600.text-info Circulars
                    .widget-menu.pull-right.mr10.hidden
                      span.fs11.text-muted
                        i.fa.fa-circle.text-warning.fs12.pr5
                        |  Twitter
                      span.fs11.text-muted.ml10
                        i.fa.fa-circle.text-info.fs12.pr5
                        |  Facebook
                      span.fs11.text-muted.ml10
                        i.fa.fa-circle.text-primary.fs12.pr5
                        |  Google+
                  .panel-body
                    .mb20.text-right
                      span.fs11.text-muted
                        i.fa.fa-circle.text-warning.fs12.pr5
                        |  Twitter
                      span.fs11.text-muted.ml10
                        i.fa.fa-circle.text-info.fs12.pr5
                        |  Facebook
                      span.fs11.text-muted.ml10
                        i.fa.fa-circle.text-primary.fs12.pr5
                        |  Google+
                    .row
                      .col-md-4.text-center
                        #c1.info-circle(title='Twitter', value='80', data-circle-color='primary')
                      .col-md-4
                        #c2.info-circle(title='Facebook', value='30', data-circle-color='info')
                      .col-md-4
                        #c3.info-circle(title='Behance', value='55', data-circle-color='warning')
            // Column Graph
            #pchart7.panel
              .panel-heading
                span.panel-title.text-info.fw600
                  i.fa.fa-pencil.hidden
                  |  Column Graph
              .panel-body.pn
                #high-column(style='width: 100%; height: 197px; margin: 0 auto')
            // Stats Top Graph Bot
            #pchart8.panel
              .panel-heading
                span.panel-title.text-info.fw600
                  i.fa.fa-pencil.hidden
                  |  Filterable Area Graph
              .panel-menu
                .chart-legend(data-chart-id='#high-line3')
                  a.legend-item.btn.btn-sm.btn-primary.mr10(type='button', data-chart-id='0') Data 1
                  a.legend-item.btn.btn-warning.btn-sm(type='button', data-chart-id='0') Data 2
              .panel-body.pn
                #high-line3(style='width: 100%; height: 210px; margin: 0 auto')
            // Column Graph
            #pchart9.panel
              .panel-heading
                span.panel-title.text-info.fw600
                  i.fa.fa-pencil.hidden
                  |  Column Graph with alt Filter
              .panel-menu.pn.bg-white
                ul.nav.nav-justified.text-center.fw600.chart-legend(data-chart-id='#high-column3')
                  li
                    a.legend-item(href='#', data-chart-id='0')  Tech
                  li.br-l
                    a.legend-item(href='#', data-chart-id='1')  Support
                  li.br-l
                    a.legend-item(href='#', data-chart-id='2')  Service
                  li.br-l
                    a.legend-item(href='#', data-chart-id='3')  Another
              .panel-body.pbn
                #high-column3(style='width: 100%; height: 400px; margin: 0 auto')
                p.hidden.br-t.pt15.text-muted.text-center.mh20.fw400
                  | A percent measure of tickets with
                  b.text-info first
                  |  reply time
              .panel-footer.p15
                p.text-muted.text-center.mbn
                  | A percent measure of tickets with
                  b.text-info first
                  |  reply time
            // Bar Graph
            #pchart10.panel
              .panel-heading
                span.panel-title.text-info.fw600
                  i.fa.fa-pencil.hidden
                  |  Bar Graph with Filter
              .panel-menu
                .chart-legend(data-chart-id='#high-bars')
                  a.legend-item.btn.btn-warning.btn-sm.mr5(data-chart-id='0') Data 1
                  a.legend-item.btn.btn-primary.btn-sm.mr5(data-chart-id='1') Data 2
                  a.legend-item.btn.btn-warning.bg-sandy-brown.btn-sm(data-chart-id='2') Data 3
              .panel-body.pn
                #high-bars(style='width: 100%; height: 140px; margin: 0 auto')
            // Area Graph
            #pchart11.panel
              .panel-heading
                span.panel-title.text-info.fw600
                  i.fa.fa-pencil.hidden
                  |  Area Graph with Filter
              .panel-menu
                .chart-legend(data-chart-id='#high-area')
                  a.legend-item.btn.btn-sm.btn-warning.ph20.mr10(data-chart-id='0') Data 1
                  a.legend-item.btn.btn-sm.btn-primary.mr10(data-chart-id='1') Data 2
                  a.legend-item.btn.btn-sm.btn-info.bg-sandy-brown.mr10(data-chart-id='2') Data 3
              .panel-body.pn
                #high-area(style='width: 100%; height: 230px; margin: 0 auto')
      // Start: Right Sidebar
      aside#sidebar_right.nano.affix
        // Start: Sidebar Right Content
        .sidebar-right-content.nano-content
          .tab-block.sidebar-block.br-n
            ul.nav.nav-tabs.tabs-border.nav-justified.hidden
              li.active
                a(href='#sidebar-right-tab1', data-toggle='tab') Tab 1
              li
                a(href='#sidebar-right-tab2', data-toggle='tab') Tab 2
              li
                a(href='#sidebar-right-tab3', data-toggle='tab') Tab 3
            .tab-content.br-n
              #sidebar-right-tab1.tab-pane.active
                h5.title-divider.text-muted.mb20
                  | Server Statistics
                  span.pull-right
                    | 2013
                    i.fa.fa-caret-down.ml5
                .progress.mh5
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 44%')
                    span.fs11 DB Request
                .progress.mh5
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 84%')
                    span.fs11.text-left Server Load
                .progress.mh5
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 61%')
                    span.fs11.text-left Server Connections
                h5.title-divider.text-muted.mt30.mb10 Traffic Margins
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 132
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  13.2%
                h5.title-divider.text-muted.mt25.mb10 Database Request
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 212
                  .col-xs-7.text-right
                    h3.text-success-dark.mn
                      i.fa.fa-caret-up
                      |  25.6%
                h5.title-divider.text-muted.mt25.mb10 Server Response
                .row
                  .col-xs-5
                    h3.text-primary.mn.pl5 82.5
                  .col-xs-7.text-right
                    h3.text-danger.mn
                      i.fa.fa-caret-down
                      |  17.9%
                h5.title-divider.text-muted.mt40.mb20
                  | Server Statistics
                  span.pull-right.text-primary.fw600 USA
              #sidebar-right-tab2.tab-pane
              #sidebar-right-tab3.tab-pane
    // core scripts
    script(src='plugins/core.min.js')
    // Theme Javascript
    script(src='assets/js/utility/utility.js')
    script(src='assets/js/demo/demo.js')
    script(src='assets/js/main.js')
    // Page Javascript
    script(src='assets/js/demo/charts/highcharts.js')
    script(type='text/javascript').
      jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
        Core.init();
        // Init Demo JS
        Demo.init();
        // This page contains more Initilization Javascript than normal.
        // As a result it has its own js page. See charts.js for more info
        demoHighCharts.init();
      });